@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f1f1;
    color: #181818;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1600px;
    margin: 0% auto;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
    background-color: #f1f1f1;
    padding: 40px 0px;
    transition: all .5s ease-in-out;
}

.header-sticky {
    background-color: #202020;
    padding: 20px 0px;
}

.header-sticky .logo,
.header-sticky .nav ul li a {
    color: #f1f1f1;
}

.header-sticky nav a.active {
    border-bottom: 3px solid #f1f1f1;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #181818;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style: none;
}

.nav li:not(:last-child) {
    margin-right: 50px;
}

.nav a {
    display: block;
    color: #181818;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 7px;
}

.nav a.active {
    border-bottom: 3px solid #292929;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url(hero-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #f1f1f1;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #181818;
    opacity: 0.35;
}

.hero .container {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 72px;
    margin-bottom: 28px;
}

.hero p {
    font-size: 24px;
}

.about-us {
    padding: 100px 0px;
}

.about-us .container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about-us h2 {
    font-size: 42px;
    margin-bottom: 28px;
}

.about-us p {
    margin-bottom: 0.985em;
    width: 720px;
}